{% extends 'temple_base.html' %} <!-- Extiende la plantilla base para mantener un diseño consistente en todas las páginas -->

{% block content %} <!-- Inicia el bloque de contenido específico para la página de ticket -->
<h2>Pacientes</h2> <!-- Título de la página de lista de pacientes -->

<a href="/crear/">Nuevo</a> <!-- Enlace para crear un nuevo paciente, redirige a la página de creación de pacientes -->

<ul> <!-- Lista de pacientes, se itera sobre la variable 'pacientes' que se pasa desde la vista para mostrar cada paciente -->
{% for p in pacientes %} <!---- Itera sobre cada paciente en la variable 'pacientes' -->
    <li> <!-- Elemento de la lista para cada paciente -->
        {{ p.nombre }} - {{ p.rut }} <!-- Muestra el nombre y el RUT del paciente -->
        <a href="/eliminar/{{p.id}}/">Eliminar</a> <!-- Enlace para eliminar el paciente, redirige a la página de eliminación de pacientes con el ID del paciente -->
    </li> <!-- Fin del elemento de la lista para cada paciente -->
{% endfor %} <!-- Fin de la iteración sobre los pacientes -->
</ul> <!-- Fin de la lista de pacientes -->
{% endblock %} <!-- Fin del bloque de contenido específico para la página de lista de pacientes -->