
{% block content %}

<div class="card text-center shadow">
    <div class="card-body">
        <h3 class="card-title">Ticket de Atención</h3>

        <p><strong>Paciente:</strong> {{ registro.paciente.nombre }}</p>
        <p><strong>Doctor:</strong> {{ registro.doctor.nombre }}</p>
        <p><strong>Fecha:</strong> {{ registro.fecha_hora|date:"d/m/Y" }}</p>
        <p><strong>Hora:</strong> {{ registro.fecha_hora|date:"H:i" }}</p>

        <button onclick="window.print()" class="btn btn-success mt-3">
            Imprimir Ticket
        </button>
    </div>
</div>

{% endblock %}